imbalanced-learn==0.13.0
mordred-ojmb@git+https://github.com/OlivierBeq/mordred#egg=b39715b
pyarrow==17.0.0
rdkit==2024.3.6
tqdm
seaborn
xgboost==1.7.3
scikit-learn==1.4.2
pandas
numpy
pandarallel==1.6.5
scipy
openpyxl>=3.1.0
notebook==7.3.2
ipywidgets==8.1.5
natsort
PyComplexHeatmap==1.8.2
torch==2.6.0
prodec==1.0.2.post5
papyrus-scripts==2.1.2
more-itertools==10.3.0
